.background {
  fill: none;
  pointer-events: none;  /* default */
}

.states {
  fill: #eff3ff;
  stroke: white;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.states .active {
  display: none;
}

.counties {
  fill: #eff3ff;
  stroke: white;
}

.county-boundary:hover {
  opacity: 0.35;
}

.legend {
	position:absolute;
	left:20px;
	top:0px;
}